.box{
  height: 450px;
  text-align: center;
  margin: 10px;
}

button{
  background-color: #1f1b24;
  color: white; 
  padding: 10px;
  font-weight: bolder;
  font-size: 16px;
}

.box button{
  margin: 20px;
}

.assiBox{
  padding: 10px;
}

.valueGreen{
  background-color: #64dd17;
  border-radius: 10px;
}

.valueRed{
  background-color: red;
  border-radius: 10px;
}

.mainHeading{
  background-color: #A0CECB;
  padding: 10px;
}

.light{
  background-color: #FDB813;
  color: #37474f;
}

.dark{
  background-color: #001A26;
  color: white;
}